<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="PN test suite">
  <test thread-count="5" verbose="2" name="my test">
    <packages>
      <package name="test.*">
            <!-- exclude name="test.np"></exclude -->
            <!-- exclude name="test.ts"></exclude -->
      </package>
    </packages>
  </test>
</suite>